@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background: #10141e;
  transition: all .3s ease-out;
}

code {
  font-family: 'Outfit', sans-serif;

}
